//paleta de colores

$principal-color: #F4D1B8;
$secondary-color: #f8eee6;
$terciary-color: #a5db9d;
$principal-text-color: #706F6F;
$secondary-text-color:black;
$button-color: #000000;

//tipos de fuentes

$principal-font: "Urbanist", sans-serif;


